<div class="dice-roll">

<div class="tinyd6 dice-breakdown justify-content-center">
    {{#each parts as |dice_type|}}
        {{#if dice_type.rolls }}
        <label>{{dice_type.formula}}</label><br>
        {{/if}}
        {{#each dice_type.rolls as |die|}}
            <span class="mx-3">
                <span class="fas fa-2x {{face die.result }}"></span>
            </span>
        {{/each}}
        {{#if dice_type.rolls}}
            {{#if @first}}
                <br>
            {{/if}}
        {{/if}}
    {{/each}}
</div>


</div>
